body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 50px;
    color: #444;
}

input, select {
    width: calc(100% - 60px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#birthday-display, #result {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}